$light-black : #000;
$white-color : #fff;
$yellow-color: rgb(121, 121, 20);
$purpul-color : rgb(89, 23, 102);
$aquamarine-color :rgb(42, 175, 175);
$light-green :#75aa13;
$color-light:#f7f7f7f7;
$deep-green:rgb(27, 168, 62);
$grey :rgb(79, 79, 80);
$orange-color-light:#ffb900;
$orange-color-deep:#ff7730;
$blue-color-light: #2998ff;
$blue-color-deep:#5643fa;
$color-grey :#333;

//font sizes
$font-1 : 1rem;
$font-15:1.5rem;
$font-2:2rem;
$font-3:3rem;
$font-4:4rem;
$font-5:5rem;
$font-6:6rem;
$font-7:7rem;

//grid
$grid-width: 120rem;
$gutter-vertical : 8rem;
$gutter-horizontal :6rem;

